.login-image {
    background-color: aliceblue;
    height: 100%;
    background-image: url(https://i.redd.it/7ha6nqk5lru81.png);
    background-position: center;
    background-size: cover;
}

@media (max-width: 576px) {
    .login-image {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-image {
        display: none;
    }
}
